*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    height:100%;
    background: url(../images/paper_fibers.png);
  }

/* nav bar Tobi Bailey */
h1{
    font-family: Georgia, serif;
    font-size: 30px;
    margin: 0px;
    border: 0px;
    padding: 15px;
    color: white;
    background-color: rgba(7, 175, 175, 0.884);
    margin-left: 30px;
}

/* nav bar styling */
.navbar {
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
    border: 0%;
    margin: 0%;
    padding: 0%;
    margin-right: 10px;
}

/* about/portfolio/contact nav bar styline */
.options-col{
  display: flex!important;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none; 
  color: grey;
}

/* footer styling */
footer {
    background-color: grey;
    position: relative;
    border-top: 3px solid  rgba(7, 175, 175, 0.884);
    padding: 20px;
    text-align: center;
    height: 100px;
    margin-top: -100px;
    clear: both;
    margin-top: auto;
  }

  @media screen and (min-width: 640px){
    body {
        align-items: center;
    }
  }